<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Document</title>
</head>
<body>
  <div class="main w-full min-h-screen bg-gray-500 p-10  text-white">
    <a  class="text-red-500 font-medium inline-block mb-10" href="/">Go back to home</a>
     
   <form action="/edit" method="post">
        <input  class="block w-1/4 rounded-md outline-none px-5 py-2 bg-zinc-800" type="text" placeholder="previous name" name="previous" value="<%= filename %>">
        <input class="block w-1/4 rounded-md outline-none mt-2 px-5 py-2  resize-none bg-zinc-800 mt-2" placeholder="New Name" name="new"></input>
        <input class="mt-2 px-5 py-2 rounded-md bg-yellow-600"  type="submit" value="update name">
      </form>
     
  </div>
</body>
</html>